@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html{
    font-size: 10px;
}

body{
    font-family: "Roboto", sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
    color: #0f0f0f;
}
img{
    max-width: 100%;
}
#main-layout{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 
    "n n" 56px
    "s c" / 240px;
}

#nav{
    grid-area: n;
}
#gide{
    grid-area: g;
}
#content{
    grid-area: c;
}

